@{
    /**/

    ViewBag.Title = "Home";
}

@if (User.Identity.IsAuthenticated)
{
    <!-- Services -->
    <section class="services">
        <div class="container-fluid">
            <div class="row">
                @if (User.IsInRole("Admin"))
                {
                    <div class="col-md-4">
                        <a href="@Url.Action("Active", "Courses")">
                            <div class="service-item first-item">
                                <div class="icon"></div>
                                <h4>Active Courses</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Retired", "Courses")">
                            <div class="service-item second-item">
                                <div class="icon"></div>
                                <h4>Retired Courses</h4>
                            </div>
                        </a>
                    </div>
                }
                <div class="col-md-4">
                    <a href="@Url.Action("Index", "Enrollments")">
                        <div class="service-item third-item">
                            <div class="icon"></div>
                            <h4>Enrollment</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="@Url.Action("Index", "ScheduledClasses")">
                        <div class="service-item fourth-item">
                            <div class="icon"></div>
                            <h4>Scheduled Classes</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="@Url.Action("Index", "Students")">
                        <div class="service-item fivth-item">
                            <div class="icon"></div>
                            <h4>Students</h4>
                        </div>
                    </a>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="col-md-4">
                        <a href="@Url.Action("Index", "StudentStatus")">
                            <div class="service-item sixth-item">
                                <div class="icon"></div>
                                <h4>Student Status</h4>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
}
else
{
    <a href="@Url.Action("Login", "Account")" class="btn btn-outline-danger text-center col-md-12">Click here to log in</a>
}
